* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.kelompok-container {
    text-align: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px black;
    width: 100%;
    height: 400px;
    padding-top: 70px; 
    align-items: center;
    justify-content: center;

}

h1 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

.member-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin-left: 600px;
}


.member {
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: darkgray;
    width: 350px;
}

.member h2 {
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
}

.member p {
    font-size: 16px;
    color: black;
}

@media (max-width: 768px) {
    .kelompok-container {
        width: 100%;
        padding-top:50px;
        height: 550px;
    }

    .member-container {
        grid-template-columns: 100%; 
        max-width: 300px;
        margin: 0 auto;
    }

    .member {
        width:  100%;
    }
}
