body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    color: white;
    padding: 24px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.judul {
    font-size: 14px;
    margin: 0 15%;
}

.isi-halaman {
    display: flex;
    margin: 0 15%;
}

.list-history {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    margin: 10px 0;
}

.item-history {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #b5b5b5;
}

.gambar-history {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 5px;
}

.gambar-history img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.gambar-history img:hover {
    transform: scale(1.1);
}

.detail-history {
    display: flex;
    flex-direction: column;
}

.detail-history h3 {
    font-size: 14px;
    margin: 5px 0;
}

.detail-history p:nth-of-type(1) {
    margin: 0;
}

.detail-history p:nth-of-type(2) {
    margin: 0;
}